<div class="row">
  <div class="col-sm-2">
    <h4>{{question.location}}</h4>
  </div>
  <div class="col-sm-2">
    <h4>{{waiting-time question}}</h4>
  </div>
  <div class="col-sm-8">
    <h4>{{question.name}}</h4>
  </div>
</div>
