<div class="main-text">
  <br>
  <p>Have you asked another pair for help?</p>

  {{#link-to 'fifteen-minutes'}}<button class="orange-button">Yes >></button>{{/link-to}}

  <footer>
    {{#link-to 'queue'}}<button class="teacher-mode orange-button">Teacher Mode</button>{{/link-to}}
  </footer>
</div>
