<div class="main-text">
  <br>
  <p>Have you gone through all the steps on the Learn How to Program debugging lesson?</p>

  {{#link-to 'ask-pair'}}<button class="orange-button">Yes >></button>{{/link-to}}

  <footer>
    {{#link-to 'queue'}}<button class="teacher-mode orange-button">Teacher Mode</button>{{/link-to}}
  </footer>
</div>
