<div class="main-text">
  <br>

  {{question-status deleteQuestion2="deleteQuestion3" question=model}}

  <footer>
    {{#link-to 'queue'}}<button class="teacher-mode orange-button">Teacher Mode</button>{{/link-to}}
  </footer>
</div>
