<div class="main-text">
  <br>

  {{new-question saveQuestion1="saveQuestion2"}}

  <footer>
    {{#link-to 'queue'}}<button class="teacher-mode orange-button">Teacher Mode</button>{{/link-to}}
  </footer>
</div>
