<div class="main-text">
  <br>
  <p>Thanks, {{model.name}}. Help is on the way.</p>

  <p>Leave this page open while you continue working on the problem.</p>

  <button class="orange-button">Nevermind, we got it.</button>

</div>
